body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    height: 100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry {
    background: rgba(59, 74, 107, .4);
    border-radius: 10px;
}

#entryHolder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#entryHolder>div {
    text-align: center;
}

#date {
    color: #3b4a6b;
}

#temp {
    color: #f0d43a;
}

#content {
    color: #22b2da;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
    color: #3b4a6b;
}

.title {
    text-align: center;
    margin-top: 2vh;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 50px;
    background: #22b2da;
    color: #3b4a6b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 10px;
    text-indent: 1vw;
}

#code {
    width: 5vw;
}

button {
    width: 250px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-left: 4vw;
    border-radius: 10px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #3b4a6b;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    text-indent: 1vw;
}

footer {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f23557;
}

footer>p {
    color: #22b2da;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #3b4a6b;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}